<br/>
<div class="row">
  <div class="span12">
    <p><%= highlight_links(get_local_value(I18n.locale, {en: get_setting('contact_text'), ua: get_setting('contact_text_ua')})).html_safe %></p>
  </div>
</div>
