<h1>
  <% if user_signed_in? %>
    <%= link_to 'New Event', new_collection_path, class: 'btn btn-primary' %>
  <% end %>

  Events
  <small>list of all events</small>
</h1>

<table class="table">
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td>
        <p><%= link_to event.title, event_path(event) %></p>
        <p><%= event.description %></p>
        <p>first photo</p>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
