<p><%= I18n.t 'activerecord.models.project' %> <%= link_to get_local_value(I18n.locale, {en: project.title, ru: project.title_ru}), project_url(project) %></p>

<p>
  <% if project.cover_photo %>
    <%= link_to(project_path(project), class: 'thumbnail span2') do
      image_tag(project.cover_photo.asset.url(:span2))
    end %>
  <% end %>
</p>

<p><%= get_local_value(I18n.locale, {en: project.info, ru: project.info_ru}) %></p>
