# Example site config

development:
  :host: http://0.0.0.0:3006
  :title: Portfolio (change in site.yml)
  :description: Portfolio Description (change in site.yml)
  :copyright_holder: Developer
  :flickr_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_shared_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_access_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_access_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_user_id: Nickname
  :google_analytics_account: UA-000000-00
  :disqus_shortname: example
  :disqus_developer: 1
  :disqus_api_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  :disqus_api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  :disqus_access_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  :linkedin_account: http://linkedin.com/

test:
  :host: http://portfolio.test.local
  :title: Portfolio (change in site.yml)
  :description: Portfolio Description (change in site.yml)
  :copyright_holder: Developer
  :flickr_api_key:
  :flickr_shared_secret:
  :flickr_access_token:
  :flickr_access_secret:
  :flickr_user_id: Nickname
  :google_analytics_account: UA-000000-00
  :disqus_shortname: example
  :disqus_developer: 0
  :disqus_api_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  :disqus_api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  :disqus_access_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  :linkedin_account: http://linkedin.com/

production:
  :host: http://portfolio.production.local
  :title: Portfolio Production
  :description: Portfolio Production Description
  :copyright_holder: Author's Name
  :flickr_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_shared_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_access_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_access_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_user_id: Nickname
  :google_analytics_account: UA-000000-00
  :disqus_shortname: example
  :disqus_developer: 0
  :disqus_api_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  :disqus_api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  :disqus_access_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  :linkedin_account: http://linkedin.com/
