# Example site config

development:
  :host: http://0.0.0.0:3006
  :title: Portfolio (change in site.yml)
  :description: Portfolio Description (change in site.yml)
  :contacts: |
    Contacts text here
    (change in site.yml)
  :copy: |
    Copyright (c) 2012 Author. All rights reserved
  :flickr_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_shared_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_access_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_access_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

test:
  :host: http://portfolio.test.local
  :title: Portfolio (change in site.yml)
  :description: Portfolio Description (change in site.yml)
  :contacts: |
    Contacts text here
    (change in site.yml)
  :copy: |
    Copyright (c) 2012 Author. All rights reserved
  :flickr_api_key:
  :flickr_shared_secret:
  :flickr_access_token:
  :flickr_access_secret:

production:
  :host: http://portfolio.production.local
  :title: Portfolio Production
  :description: Portfolio Production Description
  :contacts: |
    Contacts text here
    (change in site.yml)
  :copy: |
    Copyright (c) 2012 Author. All rights reserved
  :flickr_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_shared_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_access_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :flickr_access_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
