<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Albums", albums_path %> <span class="divider">/</span></li>
  <li class="active">New</li>
<% end %>

<h1>New Album <small>add one</small></h1>


<%= render 'form' %>