<li class="post">
  <h2><%= link_to post.title, post_path(post) %></h2>
  <div>
    <%= RedCloth.new(post.body_intro).to_html.html_safe %>
  </div>
  <div>
    Created on <%= post.created_at.strftime('%H:%M %d-%m-%Y')%>
  </div>
</li>
