<li class="post">
  <h2><%= link_to post.title, post_path(post) %></h2>
  <div class="body">
    <%= RedCloth.new(post.body_intro).to_html.html_safe %>
  </div>
  <div>
    Created on <%= post.created_at.strftime('%H:%M %d-%m-%Y')%>
  </div>
  <div>
    <!-- TODO: carousel -->
    <div class="">
        <%= render :partial => 'images/image', :collection => post.images %>
    </div>
  </div>
</li>
