<% Category.all.each do |category| %>
  <li class="<%= @category && (@category.id == category.id) ? 'current' : '' %>">
    <%= link_to category.title, category_path(category)%>
    <% if category.posts.published.size > 0 %>
      <ul>
        <% category.posts.published.limit(10).each do |post| %>
          <li><%= link_to post.title, post_path(post)%></li>
        <% end %>
      <% if category.posts.published.size > 10 %>
        <li><strong><%= link_to "And #{(category.posts.published.size - 10)} more ...", category_path(category)%></strong></li>
      <% end %>
      </ul>
    <% end %>
  </li>
<% end %>