posts of category <%= @category.title %>
<ul>
  <% @category.posts.published.each do |post| %>
    <li>
      <h1><%= link_to post.title, post_path(post)%></h1>
      <p><%= post.body %></p>
    </li>
  <% end %>
</ul>